@import "/node_modules/@fortawesome/fontawesome-free/css/all.css";

body {
  font-family: "Montserrat", sans-serif;
  background-color: #a9a9a9;
  margin: 0;
  padding: 0;
  min-width: 400px;
}

#root {
  height: 100%;
}

.vehicle {
  font-size: 40px;
  margin-right: 10px;
  color: rgb(255, 244, 36);
}