/* Header.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px;
  background-color: rgb(0, 60, 211);
}

.logo img {
  width: 80%;
  height: 50px;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar i {
  font-size: 25px;
  margin-right: 10px;
  color: #fe9a02;
}

.user-name {
  font-size: 18px;
    
  color: #fff;
}

.logout-button {
  padding: 5px 16px;
  background-color: rgb(201, 27, 27);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 10px;
}

.logout-button:hover {
  background-color: #f73838;
}
