.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  margin-top: 30px;
}
.login-container i {
  font-size: 40px;
}

.form-container {
  margin-top: 20px;
  text-align: left;
}

.form-label {
  font-weight: bold;
}

.form-container form input {
  width: 94%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container form button {
  width: 100%;
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.login-button:hover {
  background-color: #0056b3;
}
